/* .bg-container {
  background-color: #1e1e1e;
}

.playRow {
  padding: 5px;
}

.bg-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;

  margin-right: 10px;
}

.card-body {
  padding: 0;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.text-body-secondary {
  font-size: 0.8rem;
}

.playerControls img {
  width: 20px;
  height: 15px;
}

.progress-bg {
  height: 5px;
  background-color: #484848;
}

.progress-bar {
  height: 100%;
  background-color: #fdfdfd;
}

.trackNow {
  margin-right: 15px;
}

.duration {
  margin-left: 10px;
}
.playBox-custom {
  width: 100%;
} */
